<mat-card class="example-card">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <h1>Content of cuisine</h1>
      <div class="icon_add_block">
        <mat-icon class="icon_add" color="accent" (click)="openDialog()">add_circle</mat-icon>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="2:1">
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-content>
            one
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-content>
            one
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-content>
            one
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card class="example-card">
          <mat-card-content>
            one
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
