<mat-card class="example-card">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <h1>Content of cuisine</h1>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-content class="container">
    <div class="row">
      <!--        <div *ngFor="let cus of contentCus">-->
      <!--          <div class="col-sm-3">-->
      <!--            111-->
      <!--          </div>-->
      <!--        </div>-->
      <div class="col-3 p-3 "  *ngFor="let cus of contentCus">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" style="height: 200px" [src]="cus.imgurl" alt="Card image cap">
          <div class="card-body" style="height: 200px">
            <h5 class="card-title">{{cus.name}}</h5>
            <p class="card-text">{{cus.desc}}</p>
          </div>
          <mat-icon  color="primary" class="pointer m-2"  (click)="goToProducts(cus.id)">info</mat-icon>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
