<mat-card class="example-card">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile>
      <h1>Content of  Products </h1>
      <div class="icon_add_block">
        <mat-icon class="icon_add" color="accent" (click)="openDialog()">add_circle</mat-icon>
        <mat-icon class="icon_comment" color="accent" (click)="openDialogComment()">add_comment</mat-icon>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-content class="container">
    <div class="row">
      <div class="container-fluid testimonial-group" *ngFor="let categories of products">
        <h1 class="mt-3">{{categories.name}}</h1>
        <div class="row  flex-nowrap">
          <div class="col-3 p-3" *ngFor="let prod of categories.products">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" style="height: 200px" [src]="prod.imgurl" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title" >Title: {{prod.name}}</h3>
                <p class="card-text">{{prod.price}} $</p>

                <mat-icon color="primary" class="pointer"  (click)="deleteProductDialog(prod.id)">delete</mat-icon>
              </div>
            </div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
